<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/patients']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{patient.name}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Id:</dt>
          <dd>{{patient.id}}</dd>
          <dt>Nationality:</dt>
          <dd>{{patient.nationality}}</dd>
          <dt>FileNo:</dt>
          <dd>{{patient.fileNo}}</dd>
          <dt>PhoneNumber:</dt>
          <dd>{{patient.phoneNumber}}</dd>
          <dt>Email:</dt>
          <dd>{{patient.email}}</dd>
          <dt>First Visit:</dt>
          <dd>{{patient.firstVisitDate | date}}</dd>
          <dt>Birthdate:</dt>
          <dd>{{patient.birthdate | date}}</dd>
        </dl>
        <img src={{patient.photo}}/>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="warn" (click)="deletePatient(patient.id)"><mat-icon>delete</mat-icon></a>
      </mat-card-actions>
    </mat-card>
  </div>