
.container {
    position: relative;
    padding: 5px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-field {
    width: 48%;
    padding: 5px;
  }
  
  .form-field:nth-last-child() {
    margin-bottom: 10px;
  }
  
  .button-row {
    margin: 10px 0;
  }
  
  .mat-flat-button {
    margin: 5px;
  }
  input[type=text],input[type=number],input[type=datetime],input[type=tel],input[type=email], select {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
  }
  
  .advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
  }